body {
background-color: rgb(131, 131, 131);
color: black;
}

#topimg{
    margin: 1em auto;
    max-width: 300px;
    max-height: 300px;
}
#content {
    margin: 1em auto;
    max-width: 300px;
    max-height: 300px;
}
#extra{
    text-align: center;
    margin: .25em auto;
}

h1, h2{ font-family: "Playfair Display";}

p{
    font-size: 1.30em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    font-family: Montserrat;
}

/* tablet */

@media screen and (min-width: 768px){
    body{
        background-color: rgb(131, 131, 131);
        color: black;
    }
    p{
        font-size: 1.5em;
    }
    #topimg{
        margin: 1em auto;
        max-width: 300px;
        max-height: 300px;
}
    h1{font-size: 2.25em;}
    h2{font-size: 1.75em;}
}
/* desktop */

@media screen and (min-width: 1024px){
    body{
        background-color: rgb(131, 131, 131);
        color: black;
    }

    p{
        font-size: 1.15em;
        text-align: center;
    }
    #wrapper{
        margin: auto;
        max-width: 960px;
    }
    #content{
        
        float: left;
    }
    #extra {
        float: right;
        max-width: 640px;
        padding-top: 1em;
    }
    #topimg{
       
        max-width: 400px;
        max-height: 400px;
}
}